<div class="dashboard-container">

  <!-- Sidebar -->
  <aside class="sidebar">

    <div class="logo">
      <img src="https://cdn.vectorstock.com/i/500p/11/31/scratched-vendor-stamp-seal-vector-23351131.jpg">
      
      <h3>Finance Officer</h3>
    </div>

    <ul class="menu">

      <li routerLink="/finance-officer" routerLinkActive="active">
        <i class="ti ti-layout-dashboard"></i>
        Dashboard
      </li>

      <li class="active" routerLink="/purchase-order">
        <i class="ti ti-shopping-cart"></i>
        Purchase Order
      </li>

      <li routerLink="/invoice-management">
        <i class="ti ti-file-invoice"></i>
        Invoice Management
      </li>

      <li routerLink="/payment-details">
        <i class="ti ti-credit-card"></i>
        Payment Details
      </li>

    </ul>

  </aside>

  <!-- Main Content -->
  <div class="main-content">

    <!-- Topbar -->
    <header class="topbar">

      <div class="left-section">
        <i class="ti ti-menu-2 menu-icon"></i>
        <h2>Finance Officer</h2>
      </div>

    </header>

    <p class="welcome">
      Hello! Welcome to your platform today.
    </p>

    <h2 class="page-title">
      Purchase Order
    </h2>

    <!-- Tabs -->

    <div class="tabs">

      <button
        *ngFor="let tab of tabs"
        [class.active-tab]="selectedTab==tab"
        (click)="changeTab(tab)">
        {{tab}}
      </button>

    </div>

    <!-- Search -->

    <div class="search-box">

      <i class="ti ti-search"></i>

      <input
        type="text"
        placeholder="Search purchase orders..."
        [(ngModel)]="searchText">

    </div>

    <!-- Table -->

    <table>

      <thead>

      <tr>

        <th>PO Number</th>
        <th>Vendor</th>
        <th>Order Date</th>
        <th>Delivery Date</th>
        <th>Amount</th>
        <th>Status</th>

      </tr>

      </thead>

      <tbody>

      <tr *ngFor="let order of filteredOrders">

        <td>{{order.poNumber}}</td>

        <td>{{order.vendor}}</td>

        <td>{{order.orderDate}}</td>

        <td>{{order.deliveryDate}}</td>

        <td>₹{{order.amount}}</td>

        <td>

          <span
            [ngClass]="{
            approved:order.status=='Approved',
            pending:order.status=='Pending Approval',
            cancelled:order.status=='Cancelled',
            draft:order.status=='Draft'
          }">

            {{order.status}}

          </span>

        </td>

      </tr>

      </tbody>

    </table>

  </div>

</div>