* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f5f7fb;
}

.dashboard-container {
  display: flex;
  height: 100vh;
}

/* Sidebar */

.sidebar {
  width: 250px;
  background: #fff;
  border-right: 1px solid #e5e7eb;
  padding: 20px;
}

.logo {
  text-align: center;
  margin-bottom: 40px;
}

.logo img {
  width: 70px;
  height: 70px;
}

.logo h3 {
  margin-top: 10px;
  font-size: 22px;
  color: #222;
}

.menu {
  list-style: none;
}

.menu li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 16px;
  margin-bottom: 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  color: #333;
  transition: .3s;
}

.menu li i {
  font-size: 20px;
}

.menu li:hover {
  background: #4f46e5;
  color: white;
}

.active {
  background: #4f46e5;
  color: white;
}

.logout {
  color: #ef4444;
  margin-top: 40px;
}

/* Main Content */

.main-content {
  flex: 1;
  padding: 25px 35px;
}

/* Header */

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.title h2 {
  font-size: 32px;
  font-weight: 600;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-right i {
  font-size: 24px;
  cursor: pointer;
}

.header-right span {
  font-size: 17px;
  font-weight: 500;
}

/* Page */

.page-title {
  font-size: 28px;
  margin-bottom: 30px;
}

/* Tabs */

.tabs {
  display: flex;
  gap: 40px;
  margin-bottom: 25px;
}

.tabs span {
  font-size: 17px;
  cursor: pointer;
  color: #555;
}

.active-tab {
  color: #4f46e5;
  font-weight: 600;
}

/* Search */

.search-box {
  width: 300px;
  height: 42px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f4f5fb;
  padding: 0 15px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.search-box input {
  border: none;
  background: transparent;
  width: 100%;
  outline: none;
  font-size: 15px;
}

/* Table */

.table-container {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0,0,0,.08);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #f8fafc;
}

thead th {
  padding: 18px;
  text-align: left;
  font-size: 15px;
  color: #555;
}

tbody td {
  padding: 20px 18px;
  border-top: 1px solid #eee;
  font-size: 15px;
}

/* Status */

.paid {
  color: #22c55e;
  font-weight: 600;
}

.pending {
  color: #f59e0b;
  font-weight: 600;
}

.overdue {
  color: #ef4444;
  font-weight: 600;
}

/* Responsive */

@media (max-width:900px){

.sidebar{
width:210px;
}

.title h2{
font-size:24px;
}

.page-title{
font-size:22px;
}

table{
font-size:13px;
}

}